 body {
   background-color: #aedff3;
   font-family: 'Arial', sans-serif;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   height: 100vh;
   margin: 0;
}

 #size {
   font-size: 20px;
   padding: 10px 20px;
   background-color: #34db3c;
   color: #e63f3f;
   border: none;
   border-radius: 5px;
   cursor: pointer;
   margin-bottom: 20px;
}

 #size:hover {
   background-color: #2980b9;
}

#grid-container {
   border: 2px solid #333;
   display: flex;
   flex-wrap: wrap;
   max-width: 500px;
}

.row .col{
   background-color: white;
}
